<h1> Initialisation Cell</h1>

In [190]:
import numpy as np
import pandas as pd
import re

<h1> Importing the Data</h1>

In [191]:
dataset = pd.read_csv("logbook_assignment1.csv")
dataset.info()
dataset

/usr/local/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174870 entries, 0 to 1174869
Data columns (total 9 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   date_fueled      1125700 non-null  object
 1   date_captured    1174870 non-null  object
 2   odometer         1025716 non-null  object
 3   gallons          1100660 non-null  object
 4   cost_per_gallon  1094110 non-null  object
 5   total_spent      1100660 non-null  object
 6   mpg              1100660 non-null  object
 7   miles            146274 non-null   object
 8   user_url         1174870 non-null  object
dtypes: object(9)
memory usage: 80.7+ MB

,date_fueled,date_captured,odometer,gallons,cost_per_gallon,total_spent,mpg,miles,user_url
0,"Cooling System, Heating System, Lights, Spark ...",Apr 7 2022,"73,370",NaN,NaN,NaN,NaN,NaN,https://www.somewebsite.com/suzuki/swift/2015/...
1,Nov 7 2012,Aug 30 2016,"11,983",12.120,$5.599,$67.86,31.6,NaN,https://www.somewebsite.com/bmw/x3/2009/461150
2,Sep 22 2012,Sep 28 2012,"98,233",7.991,£5.45,£43.53,28.5,NaN,https://www.somewebsite.com/mercedes-benz/e300...
3,May 4 2019,May 4 2019,"163,802",10.575,£5.11,£54.00,46.8,NaN,https://www.somewebsite.com/bmw/320d/2010/247233
4,Feb 15 2022,Feb 15 2022,NaN,11.651,$3.029,$35.29,21.0,244.4,https://www.somewebsite.com/honda/passport/201...
...,...,...,...,...,...,...,...,...,...
1174865,Feb 19 2020,Feb 19 2020,"118,237",13.046,$1.999,$26.08,25.7,NaN,https://www.somewebsite.com/volkswagen/beetle/...
1174866,Dec 6 2019,Dec 6 2019,"141,761",12.637,$2.449,$30.95,20,NaN,https://www.somewebsite.com/toyota/avalon/2000...
1174867,Oct 4 2021,Oct 4 2021,"65,029",10.002,$3.449,$34.50,28.5,NaN,https://www.somewebsite.com/fiat/500/2013/909694
1174868,Jul 26 2021,Jul 26 2021,"15,255",10.493,$3.539,$37.13,36.5,NaN,https://www.somewebsite.com/mini/cooper/2019/9...
1174869,Mar 12 2019,Mar 12 2019,"204,774",17.350,$3.199,$55.50,0,NaN,https://www.somewebsite.com/lexus/lx470/2001/8...

<h1>Helper Functions</h1>

In [192]:
def formated(data):
    month = data[:3]
    day = data[4:5]
    year = data[6:]
    
    print(month)
    print(day)
    print(year)

<h1>Data Cleaning</h1>

<h2>1.date_fueled</h2>

In [193]:
count = {}
months = {'Jan':'01','Feb':'02','Mar':'03','Apr':'04','May':'5','Jun':'6','Jul':'07',
          'Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12','NaT':'NaT'}

keys = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec','NaT']
index = []
for i in range(dataset["date_fueled"].shape[0]):
    month = dataset["date_fueled"].iloc[i][:3]
    if month in count:
        count[month] += 1
        continue
    elif month in keys:
        count[month] = 1
        dataset["date_fueled"].iloc[i] = formated(dataset["date_fueled"].iloc[i])
        #dataset["date_fueled"].iloc[i][5] = month
        
        #print(dataset["date_fueled"].iloc[i])
        
        #continue

print(dataset["date_fueled"].values)

Nov
7
2012
Sep
2
 2012
May
4
2019
Feb
1
 2022
Oct
2
 2021
Jan
2
 2022

TypeError: 'float' object is not subscriptable

In [ ]:
Sum = 0
for i in count.keys():
    Sum = Sum + int(count[i])

if Sum == dataset.shape[0]:
    print("All have been captured")

In [ ]:
for i in range(dataset["date_fueled"].shape[0]):
    if type(dataset["date_fueled"].iloc[i]) == type(float("nan")):
        dataset["date_fueled"].iloc[i] = "NaT"
        missing_values += 1

In [ ]:
missing_percentage = (missing_values/dataset["date_fueled"].shape[0])*100

print("The percentage of missing date fueled values = ",missing_percentage,"%")

In [ ]:




dataset["date_fueled"].loc[index] = "NaT"

#for i in range(dataset["date_fueled"].shape[0]):
#    old_value = dataset["date_fueled"].iloc[i][:3]
#    
#    if old_value in count:
#        dataset["date_fueled"].iloc[i] = dataset["date_fueled"].iloc[i].replace(old_value,months[old_value])
    

dataset["date_fueled"] = pd.to_datetime(dataset["date_fueled"])

<h1>Feature Engineering</h1>

<h1>Feature Selection</h1>